h1,
h2,
h3 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: black;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
}

h2 {
  margin: 0;

  font-size: 34px;
  line-height: 48px;
  font-weight: 400;
}
body {
  background-image: url("../images/landscape.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
}

li:hover {
  background: #fffbef;
}

p {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
  font-family: monospace;
}

#trademark {
  color: #fff;
}
button {
  display: block;
  margin: 20px auto;
  border: 1px solid #1a64d6;
  background: #1a64d6;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

button:hover {
  background: white;
  color: #1a64d6;
  border: 1px solid #1a64d6;
}
